.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  padding: 0 2rem;

  &__image {
    width: 40rem;
  }

  &__message {
    width: 40rem;
  }

  &__text {
    font-size: 1.6rem;
  }

  &__title {
    font-size: 3rem;
  }
}
