.details {
  position: fixed;
  overflow-y: auto;
  top: 5rem;
  right: 2rem;
  background-color: $primaryColor;
  min-height: 56rem;
  max-height: 90vh;
  width: 40rem;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: $shadow;

  &__name {
    margin: 0.5rem 0;
    text-align: center;
  }

  &__button {
    cursor: pointer;
  }

  &__btn-box {
    position: absolute;
    cursor: pointer;
    right: 1rem;
    top: 1rem;
    padding: 1rem;
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #00000044;
  }

  &__img {
    display: block;
    height: 24rem;
    margin: 0 auto;
    border-radius: 8px;
  }

  &__table {
    display: flex;
    justify-content: space-around;
    background-color: lighten($secondaryColor, 30%);
    border-radius: 8px;
    margin-top: 0.5rem;
  }

  &__column {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-shrink: 0;
  }

  &__column:nth-child(2) {
    flex-shrink: 1;
  }

  &__title {
    margin: 0.5rem 0;
  }

  &__text {
    margin: 0.5rem 0;
  }

  &__row {
    margin-bottom: 1rem;
  }

  &__evo-image {
    width: 8rem;
  }

  &__evo-imagebox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border: 2px solid #aaaaaa;
  }

  &__evolution {
    display: flex;
    justify-content: space-around;
  }

  &__evo-title {
    text-align: center;
  }
}
